$copy-font: 'Alice', serif;
$header-font: 'Bigshot One', cursive;

.part1 {
	width: 100%;
	opacity: 1;


.skyScene1 {
		opacity: 1;
		z-index: -10;
	}

	.scrolltext {
		font-size: 3vw;
		text-align: center;
	}


	.storyTextIntro {
		position: absolute;
		top: 26%;
		left: 10%;
		font-family: $copy-font;
		font-size: 2.5vw;
		color: #3f817d;
		opacity: 0;
		z-index: 6;
		


		.aIntro {
			font-size: 4vw;
			color: #1f3437;
		} 
	}

	.storyText1 {
		position: absolute;
		top: 10%;
		left: 10%;
		font-family: $copy-font;
		font-size: 2.5vw;
		color: #3f817d;
		z-index: 6;
		opacity: 0;

		.hText {
			font-size: 6vw;
			color: #1f3437;
		}
		p{
			margin-bottom: 10px;
		}
	}

	.storyText2 {
		position: absolute;
		top: 5%;
		left: 10%;
		font-family: $copy-font;
		font-size: 2.5vw;
		color: #3f817d;
		z-index: 6;
		opacity: 0;

		.sText {
			font-size: 6vw;
			color: #1f3437;
		}
	}

	.title {
		position: absolute;
		top: 25%;
		left: 20%;
		z-index: 6;
	
	h1 {
		font-family: $header-font;
		transform: translate( -50%, -50%);
		font-size: 4vw;
		color: #3f817d;
	}


	.title-gretel {
			transform: translate( 10%, -80%);
			color: #1f3437;
		}

	.title-hansel {
			transform: translate(-10%, -50%);
			color: #3f817d;
		}

	h3 {
		font-size: 4vw;
		transform: translate(-10%, -40%);
		font-family: $copy-font;
	}	

	.title-b {
		font-size: 10vw;
		color: #3f817d;
	}

	.title-G {
		font-size: 10vw;
		color: #1f3437;
	}
	

}

	.sun {
		position: absolute;
		height: auto;
		width: auto;
		max-height: 50vh;
		max-width: 50vw;
		top: -100%;
		left: 50%;
		z-index: 1;
		animation: sun-rotate 20s infinite linear;
		transition: 1s;
	}

	.house {
		position: absolute;
		height: auto;
		width: auto;
		max-height: 40vh;
		max-width: 40vw;
		top: 40%;
		left: -100%;
		z-index: 5;
	}
	

	.upon {
		font-family: $header-font;
		position: absolute;
		top: 20%;
		left: 10%;
		font-size: 3vw;
		opacity: 0;
	}
	
		h2 {
			position: absolute;
			top: 80%;
			left: 25%;
			font-family: $header-font;
			font-size: 4vw;
			z-index: 6;
		}

		.cloud1{
			position: absolute;
			height: auto;
			width: auto;
			max-width: 100vw;
			max-height: 100vh;
			top: -20%;
			left: -20%;
			animation: 1 20s ease-in cloud1;
		}

		

		.cloud2 {
			position: absolute;
			height: auto;
			width: auto;
			max-width: 100vw;
			max-height: 100vh;
			top: -15%;
			left: 15%;
			animation: 1 20s ease-in cloud2;
		}

	

		.cloud3{
			position: absolute;
			height: auto;
			width: auto;
			max-width: 100vw;
			max-height: 100vh;
			top: -30%;
			left: 50%;
			transform: rotate(185deg);
			animation: 1 20s ease-in cloud2;
		}

	}
	.hills {

		.hill1 {
			position: absolute;
			height: auto;
			width: auto;
			max-width: 100vw;
			max-height: 111vh;
			left: 20%;
			top: 30%;
			z-index: 2;
			
		}

		.hill2 {
			position: absolute;
			height: auto;
			width: auto;
			max-width: 100vw; 
			max-height: 111vh;
			top: 35%;
			left: 0%;
			z-index: 3;
		
		}

		.hill3 {
			position: absolute;
			height: auto;
			width: 100%;
			max-width: 100vw; 
			max-height: 111vh;
			top: 65%;
			left: 0;
			z-index: 4;
		}	
}

	.leaf1{
			position: absolute;
			top: 60%;
			left: 100%;
			width: 3vw;
		}
	.leaf2{
			position: absolute;
			top: 64%;
			left: 100%;
			width: 3vw;
		}
	.leaf3 {
			position: absolute;
			top: 57%;
			left: 100%;
			width: 3vw;
		}
	.leaf4{
			position: absolute;
			top: 40%;
			left: 110%;
			width: 3vw;
		}
	.leaf5{
			position: absolute;
			top: 54%;
			left: 100%;
			width: 3vw;
		}
	.leaf6{
			position: absolute;
			top: 54%;
			left: 140%;
			width: 3vw;
		}
	.leaf7{
			position: absolute;
			top: 58%;
			left: 100%;
			width: 3vw;
		}

	.storyText3 {
		position: absolute;
		top: 25%;
		left: 15%;
		font-family: $copy-font;
		font-size: 2.5vw;
		color: #3f817d;
		z-index: 6;
		opacity: 0;


		.Otext {
			font-size: 6vw;
			color: #1f3437;
		}
	}
// =================ANIMATIONS===============



@keyframes sun-rotate {
	from {
		transform: rotate(360deg);
	}

	to {
		transform: rotate(0deg);
	}
}

@keyframes cloud1 {
	from {
		transform: translateX(-650px);
	}
	to {
		transform: translateX(1100px);
	}
}




@keyframes cloud2 {
	from {
		transform: translateX(-1500px);
	}
	to {
		transform: translateX(1100px);
	}
}

@keyframes cloud3 {
	from {
		transform: translateX(-3000px);
	}
	to {
		transform: translateX(1100px);
	}
}
