.part3 {
	opacity: 0;

	.crumb-bg{
		width: 80%;
	   	position: absolute;
	   	z-index:-1;
	   	right: 0;
	   	top: 0;
	}	
	.crumb{
		position: absolute;
		z-index: 998;
		max-width: 10%;
	}
	.crumb-1 {
		top: -100%;
		left: 40%;
		width: 2%;
	}
	.crumb-2  {
		top: -100%;
		left: 50%;
		width: 10%;
	}
	.crumb-3{
		top: -100%;
		left: 60%;
		width: 4%;
	}
	.crumb-4{
		top: -100%;
		left: 56%;
		width: 6%;
	}
	.crumb-5{
		top: -100%;
		left: 50%;
		width: 6%;
	}
	.crumb-6{
		top: -100%;
		left: 30%;
		width: 5%;
	}
	.crumb-8{
		top: -100%;
		left: 17%;
		width: 5%;
	}
	.crumb-7{
		top: -100%;
		left: 10%;
		width: 2%;

	}


	.scene3Text1 {
		position: absolute;
		top: 35%;
		// left: -120%;
		font-family: $copy-font;
		font-size: 2.5vw;
		color: #3f817d;
		z-index: 999;
		opacity: 0;

		.textH {
			font-size: 6vw;
			color: #1f3437;
		}
	}
}